<!doctype html>
<html lang="en">
<head>
    <title>GRUPO ATC - Don Jacinto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/fonts/flaticon-mecani/font/flaticon.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <header role="banner">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-5">
                        <ul class="social list-unstyled">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-7 text-right">
                        <p class="mb-0">
                            <!--  <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"><i class="fas fa-sign-in-alt"></i> AREA DE CLIENTES</a> -->
                            <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment"><i class="fa fa-user"></i> SOLICITAR REGISTRO</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-controller="Inicio" asp-action="Index"><img src="~/img/logosolo.png" alt=""> DON JACINTO<!-- <span>+</span> -->  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Inicio" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresa</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="#">Calidad</a>
                                <a class="dropdown-item" href="#">Instalaciones</a>
                                <!-- <a class="dropdown-item" href="services.html">Services</a> -->
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="#">Lunas</a>
                                <a class="dropdown-item" href="#">Accesorios</a>
                            </div>
                        </li>
                        <!--  <li class="nav-item">
                           <a class="nav-link" href="news.html">News</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="about.html">About</a>
                         </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->
    @RenderBody()
    <!-- END cta-link -->
    <footer class="site-footer" role="contentinfo">
        <div class="container">
            <div class="row mb-5 element-animate">
                <div class="col-md-3 mb-5">
                    <h3>Empresa</h3>
                    <ul class="footer-link list-unstyled">
                        <li><a href="#">Calidad</a></li>
                        <li><a href="#">Instalaciones</a></li>
                    </ul>

                </div>
                <div class="col-md-3 mb-5">
                    <h3>Productos</h3>
                    <ul class="footer-link list-unstyled">
                        <li><a href="#">Lunas</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <!-- <li><a href="#">Events &amp; Conferences</a></li> -->
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <h3>Área de Clientes</h3>
                    <ul class="footer-link list-unstyled">
                        <li><a href="#">Login</a></li>
                        <!-- <li><a href="#">Accesorios</a></li> -->
                        <!-- <li><a href="#">Events &amp; Conferences</a></li> -->
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <h3>Localización &amp; Contacto</h3>
                    <p class="mb-5">
                        Pol. Ind. La Serna - Calle C - C2
                        13710 Argamasilla de Alba
                        (Ciudad Real) - España
                    </p>
                    <h4 class="text-uppercase mb-3 h6 text-white"> Email</h4>
                    <p class="mb-5"><a href="mailto:info@yourdomain.com">info@donjacinto.es</a></p>

                    <h4 class="text-uppercase mb-3 h6 text-white"> Teléfonos</h4>
                    <p>926 50 60 70</p>
                    <p>926 53 81 85</p>
                </div>
            </div>
            <div class="row pt-md-3 element-animate">
                <div class="col-md-12">
                    <hr class="border-t">
                </div>
                <div class="col-md-6 col-sm-12 copyright">
                    <p>&copy; 2018 Grupo ATC Don Jacinto</p>
                </div>
                <div class="col-md-6 col-sm-12 text-md-right text-sm-left">
                    <a href="#" class="p-2"><span class="fab fa-facebook-f"></span></a>
                    <a href="#" class="p-2"><span class="fab fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fab fa-instagram"></span></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- Modal -->
    <div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAppointmentLabel">Solicite Registro en nuestra Área de Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Inicio" asp-action="Index" method="post">
                        <div class="form-group">
                            <label for="appointment_name" class="text-black">NIF/CIF</label>
                            <input type="text" class="form-control" name="cif" id="appointment_name">
                        </div>
                        <div class="form-group">
                            <label for="appointment_nombre" class="text-black">Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="nombre">
                        </div>
                        <div class="form-group">
                            <label for="appointment_email" class="text-black">Empresa</label>
                            <input type="text" class="form-control" name="empresa" id="appointment_email">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-black">Contraseña</label>
                                    <input type="password" class="form-control" name="password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="text-black">Teléfono</label>
                                    <input type="text" class="form-control" name="telefono">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="appointment_message" class="text-black">email</label>
                            <input type="text" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="appointment_information" class="text-black">Información</label>
                            <input type="text" name="informacion" class="form-control">
                        </div>
                        @*<div class="form-group">
                            <input type="submit" value="Enviar" class="btn btn-primary">
                        </div>*@
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Enviar</button>
                </div>

            </div>
        </div>
    </div>
    @*modal2*@
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Recuperar Contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="Inicio" asp-action="Recuperacion" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="" aria-describedby="" placeholder="dirección de email">
                            <small id="emailHelp" class="form-text text-muted">Para recuperar su contraseña deberá incluir su dirección de email</small>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <!--<button type="button" class="btn btn-primary">Enviar</button>-->
                        <input type="submit" class="btn btn-primary" value="Enviar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalRecupera" tabindex="-1" role="dialog" aria-labelledby="modalRecuperaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRecuperaLabel">Indícanos tu email para mandarte instrucciones para recuperar tu contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Inicio" asp-action="Recuperacion" method="post">
                        <div class="form-group">
                            <label for="" class="text-black">email</label>
                            <input type="text" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enviar" class="btn btn-primary">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



