body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.desplegable {
    font-size: 14px;
    text-align: left;
    /*box-shadow: 5px 5px rgba(102,102,102,.1);*/
    -webkit-box-shadow: 0px 6px 8px 2px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 6px 8px 2px rgba(0,0,0,0.33);
    box-shadow: 0px 6px 8px 2px rgba(0,0,0,0.33);
    /*left: 0;*/
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff !important;
    /*margin: 10px 0 0;*/
    border: 1px solid #eee;
    font-family:, Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    width: 96%;
}
.tablaresultados tr.otrainfo {
    text-align: right;
    font-style: italic;
    background-color: #e2e8ef;
    height:0px;
}
.tablaresultados {
    width:97%;
    margin:5px 10px;
}

.tablaresultados tr{
    height:25px;
}
tr.otrainfo td a {
    font-size: 12px;
    color: #282828;
    padding: 25px;
    font-weight:bold;
}
.gris {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.nogris {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.celda:hover .nogris {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.mt-3{
    margin-top:3rem;
}

span.btn-enlace{
    cursor:pointer;
    padding:5px 0;
}
a.btn-accordion{
    display:inline-block;
    width:100%;
}