@{
    Layout = "_LayoutCorporativa";

}

<section class="home-slider inner-page owl-carousel">
    <div class="slider-item" style="background-image: url('../img/slider3.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-8 col-sm-12 element-animate">
                    <h1>Calidad</h1>
                    @*<h2>Calidad</h2>*@
                    <p class="">Cumpliendo con los más altos estándares de seguridad</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- END slider -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <img src="../img/lunas-nave.jpg" class="img-fluid mb-4" alt="Image placeholder">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 element-animate fadeInUp element-animated">
                <h2 class="text-uppercase mb-4">Certificados</h2>
                <p class="mb-5 text-justify ">
                    Nuestros productos cuentan con la especificación técnica ISO / TS 16949:2009 desarrollando una mejora en la calidad continua, tanto en el diseño de piezas como en la fabricación de los mismos y la posterior gestión de residuos.
                   <br /> ECE R43 – 001853, certificado  bajo las estrictas normas europeas para vidrio de seguridad en automoción, con permiso en cualquier espesor. Cada vidrio se homologa de forma individual en la oficina de homologación alemana.
                    <br />DOT 563 con certificación que habilita para fabrican vidrio AS1, AS2 y AS3 bajo las normas estadounidenses, y en todos los espesores para vidrio de automoción.
                    <br /> Así como normas ANSI, CCC, SAIB, etc.…
                    <br />Sello de Calidad Ford Q1. Otorgado por Ford como fabricante que excede los requisitos de calidad exigidos por la propia Ford en todo el mundo.
                </p>
               
            </div>
        </div>
    </div>
</section>