@{
    Layout = "_LayoutCorporativa";

}

<section class="home-slider inner-page owl-carousel">
    <div class="slider-item" style="background-image: url('../img/formacion.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-8 col-sm-12 element-animate">
                    <h1>Formación</h1>
                    @*<h2>Calidad</h2>*@
                    <p class="">Ofrecer un servicio 100% eficaz a nuestros Clientes </p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- END slider -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <img src="../img/formacion-tec.jpg" class="img-fluid mb-4" alt="Image placeholder">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 element-animate fadeInUp element-animated" style="background-color: #f7f7f7;">
                <h2 class="text-uppercase mb-4">En Auto-Cristales creemos que..</h2>
                <p class="mb-5 text-justify ">
                    Si un cliente está formado y conoce el gremio, la persona que le atiende debe de conocer también todas las características del producto.<br />
                    Por ello formamos continuamente a todos nuestros empleados para que estén al día de las últimas incorporaciones en cuanto a las tecnologías aplicadas al vidrio, las ´últimas técnicas de montaje y en la resolución de cualquier tipo de problema que en el último minuto se pueda encontrar nuestro cliente. <br />
                
                </p>
                <p>
                    <strong>  Así podemos dar una respuesta completa y rápida a todos nuestros clientes.</strong>
                </p>
               
            </div>
        </div>
    </div>
</section>