@{
    Layout = "_LayoutCorporativa";

}

<section class="home-slider inner-page owl-carousel">
    <div class="slider-item" style="background-image: url('../img/alfaromeo.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-8 col-sm-12 element-animate">
                    <h1>Historia</h1>
                    @*<h2>Calidad</h2>*@
                    <p class="">¿Desde cuándo?</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- END slider -->

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class=" img-fluid rounded-circle" src="~/img/taller-antiguo.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1986</h4>
                                <h4 class="subheading">Inicios</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Este año inicia su andadura Auto-Cristales TOMELLOSO, comenzando como un pequeño taller dedicado a la mecánica y lunas.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class=" img-fluid rounded-circle" src="~/img/distrib.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1992</h4>
                                <h4 class="subheading">Distribución de Vidrio</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Auto-Cristales Tomelloso centra su actividad exclusivamente en la distribución de vidrio.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1995</h4>
                                <h4 class="subheading">Nuevas rutas de Distribución</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Ampliamos nuestro radio de distribución provincial y abrimos rutas de distribución en Madrid, Alicante y Badajoz.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1998</h4>
                                <h4 class="subheading">Con los mejores</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Trabajamos con las mayores marcas del sector europeo contando con cerca de 4.000 referencias, siendo los primeros en disponer de los últimos modelos del sector.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2001</h4>
                                <h4 class="subheading">Nuevas Instalaciones</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <strong> Aumentamos las instalaciones hasta los 2.000m<sup>2</sup></strong><br>
                                    Nos trasladamos a unas nuevas instalaciones, a medio camino entre la Autovía de los Viñedos con dirección Madrid y la A-43 con conexión directa con Valencia.
                                    El nuevo espacio junto a la mejora en la comunicación nos posibilitó subir, en muy poco tiempo hasta las 7000 referencias, y un aumento en el stock hasta las 100.000 constantes.  <br />
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012</h4>
                                <h4 class="subheading">Nuevas Lineas de Producto</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Incorporamos nueva línea producto, Autobús y autocar además de la constante introducción de nuevos sistemas en los parabrisas.
                                    Ampliacion de nuestro Almacén Central con 10.000m2 y un stock permanente de 250.000 piezas y 14.000 referencias.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013</h4>
                                <h4 class="subheading">Nuevos Centros Logísticos</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Abrimos tres nuevos almacenes logísticos en Leganes (Madrid), Ribarroja de Turia (Valencia) y Lorquí (Murcia).
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Actualidad</h4>
                                <h4 class="subheading">Proyección Internacional</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    En Auto-Cristales Tomelloso seguimos creciendo e innovando, dónde nuestro proximo objetivo es la expansión internacional.
                                </p>
                            </div>
                        </div>
                       
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>