@{
    Layout = "_LayoutCorporativa";

}

<section class="home-slider inner-page owl-carousel">
    <div class="slider-item" style="background-image: url('../img/almacen.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-8 col-sm-12 element-animate">
                    <h1>Productos</h1>
                    
                    <p class="">Distribución de vídrios para vehículos y consumibles</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- END slider -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase heading border-bottom text-center">Todo para el Instalador</h2>
            </div>
            <div class="col-md-6 element-animate fadeInUp element-animated my-5">
                
                <p class="mb-5 text-justify text-black ">
                    Cubrimos el 90% de las necesidades del instalador.<br /> Disponiendo en la actualidad de la gama más completa de vidrio, compuesta por:

                </p>


            </div>
            <div class="col-md-6 element-animate fadeInUp element-animated my-5">
                <ul class="list-unstyled text-black">
                    <li>
                        <i class="fas fa-check-square text-black"></i> PARABRISAS LAMINADOS
                    </li>
                    <li>
                        <i class="fas fa-check-square text-black"></i> LUNETAS TEMPLADAS Y LAMINADAS
                    </li>
                    <li>
                        <i class="fas fa-check-square text-black"></i> LATERALES TEMPLADOS Y LAMINADOS
                    </li>
                    <li>
                        <i class="fas fa-check-square text-black"></i> COSTADOS ENCAPSULADOS Y PREMONTADOS
                    </li>
                    <li>
                        <i class="fas fa-check-square text-black"></i> GOMAS, JUNQUILLOS Y PERFILES UNIVERSALES
                    </li>
                    <li>
                        <i class="fas fa-check-square text-black"></i> ASÍ COMO LOS CONSUMIBLES NECESARIOS PARA SU INSTALACIÓN
                    </li>
                </ul>
            </div>
            <div class="col-md-12 element-animate fadeInUp element-animated" style="background-color: #f7f7f7;">
                <div class="row p-3">
                   
                    <div class="col-md-6">
                        <h2>Tecnología</h2>
                        <p class="my-5 text-justify text-black ">
                            En Auto-Cristales TOMELLOSO, somos pioneros en la distribución de parabrisas con sistemas completos de ayuda a la conducción (Sistemas ADAS), vidrio con pantallas integradas (HUD) y vidrios de confort Acústico, tanto reflectantes como hidrófugos.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img  src="~/img/headup.jpg" class="img-fluid"/>
                    </div>
                </div>

               
            </div>


        </div>
    </div>
</section>