@{
    Layout = "_LayoutCorporativa";
    @using EntidadesAtc;
    var c = (ResultadoRecuperacionContrasena)ViewData["Resultado"];
}

Validación completada con el @c.Resultado y resultado:
@c.Resultado


@switch (c.Resultado)
{
    case 1:
        <div>En breve recibirás un correo con las instrucciones para recuperar tu contraseña.</div>
        break;
    default:
        <div>El correo introducido no es válido.</div>
        break;

}
