@{
    Layout = "_LayoutCorporativa";
    @using EntidadesAtc;
    var c = (ResultadoRegistro)ViewData["Resultado"];
}


<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
            <div class="col-md-8 text-center">
                <h2 class="text-uppercase heading border-bottom mb-4"><i class="fas fa-users"></i> REGISTRO COMPLETADO </h2>
                <p class="mb-0 lead">Registro completado con el resultado: </p>
                <p class="mb-0 lead">@c.Resultado </p>
              

            </div>
        </div>
    </div>
</section>
