@{ 
    @using EntidadesAtc;
    var fm = (List<FacturacionMensual>)ViewData["FacturasMensuales"];
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-controller="AreaCliente" asp-action="Index">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Facturas</span>
        </li>
    </ul>
</div>
<div ng-controller="facturas">

    <div class="demo-container">
        <div id="chart" dx-chart="chartOptions"></div>
    </div>



    <div class="row">
        <div class="col-md-3"></div>
        <ul class="pagination justify-content-center col-md-6 row">
            <li class="page-item col-md-2" ng-click="paginaAnterior()">
                <a class="page-link"><i class="fa fa-caret-left fa-xs "></i><small style="font-size:72%"></small> </a>
            </li>
            <li class="page-item  col-md-4">

                <input type="number" class="form-control" ng-model="pagina" ng-change="cambioPagina()" />

            </li>
            <li class="page-item  col-md-2" ng-click="paginaSiguiente()">
                <a class="page-link"><small style="font-size:72%"></small>  <i class="fa fa-caret-right fa-xs "></i></a>
            </li>
        </ul>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-12 panel-heading no-padding" style="z-index:1000">
        <div class="col-md-12 no-padding">
            <div class="">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="nFactura" placeholder="Nº Factura">

                    </div>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="fechaDesde" />

                    </div>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="fechaHasta" />

                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger" type="button" ng-click="limpiarFacturas()" title="" data-toggle="tooltip" data-original-title="Limpiar">
                            <i class="fa fa-fw fa-close"></i>
                        </button>
                        <button class="btn btn-danger" type="button" ng-click="filtrarFacturas()">Buscar</button>
                    </div>
                </div>



            </div>
        </div>

    </div>
    Estas en la pagina {{actualPag}} de un total de {{numPag}} paginas. Hay {{registros}} registros.
    <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="fct" style="width:100% !important;">

    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <ul class="pagination justify-content-center col-md-6 row">
            <li class="page-item col-md-2" ng-click="paginaAnterior()">
                <a class="page-link"><i class="fa fa-caret-left fa-xs "></i><small style="font-size:72%"></small> </a>
            </li>
            <li class="page-item  col-md-4">

                <input type="number" class="form-control" ng-model="pagina" ng-change="cambioPagina()" />

            </li>
            <li class="page-item  col-md-2" ng-click="paginaSiguiente()">
                <a class="page-link"><small style="font-size:72%"></small>  <i class="fa fa-caret-right fa-xs "></i></a>
            </li>
        </ul>
        <div class="col-md-3"></div>
    </div>
</div>
