
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-controller="AreaCliente" asp-action="Index">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Facturas</span>
        </li>
    </ul>
</div>
<div ng-controller="facturas" id="ocultocargando" style="display:none">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit" style="margin-top:18px; padding:20px;">
                <div class="demo-container" style="margin:10px">
                    <div id="chart" dx-chart="chartOptions"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit">
                <div class="portlet-title">
                    <h3>Facturas</h3>
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <input type="text" class="form-control" ng-model="nFactura" placeholder="Nº Factura">
                        </div>
                        <div class="col-md-3 text-center">
                            <input type="date" class="form-control" id="fechaDesde" />
                        </div>
                        <div class="col-md-3 text-center">
                            <input type="date" class="form-control" id="fechaHasta" />
                        </div>
                        <div class="col-md-3 text-center">
                            <button class="btn btn-primary" type="button" ng-click="filtrarFacturas()"><i class="glyphicon glyphicon-search"></i></button>
                            <button class="btn btn-danger" type="button" ng-click="limpiarFacturas()" title="" data-toggle="tooltip" data-original-title="Limpiar">
                                <i class="fa fa-fw fa-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 margin-top-20 margin-bottom-20">
                            <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="fct" style="width:100% !important;">
                                <div data-options="dxTemplate:{ name:'currencyTemplate' }">
                                    <p>{{fct.value.toFixed(2)}}€</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center margin-top-30">
                            <small class="font-blue-oleo"> Estas en la pagina <strong> {{actualPag}} </strong>de un total de <strong>{{numPag}}</strong>  paginas. Hay <strong>{{registros}}</strong> registros.</small>
                        </div>
                        <div class="col-md-4 col-md-offset-4 text-center margin-top-10">
                            <div class="pagination-panel">
                                <a class="btn btn-sm default prev " ng-click="paginaAnterior()">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; " ng-model="pagina" ng-change="cambioPagina()">
                                <a class="btn btn-sm default next" ng-click="paginaSiguiente()">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </div>
