@{
    @using EntidadesAtc;

}
<p ng-controller="generico" class="alert alert-primary">Tu pedido ha sido procesado correctamente.</p>
<form method="get" asp-controller="AreaCliente" asp-action="Index" >
    <input type="submit" class="btn btn-primary" value="Volver a Inicio"/>
</form>
