@{
    @using EntidadesAtc;
    ViewData["Title"] = "Home Page";
    var vh = (List<TipoVehiculo>)ViewData["Vehiculos"];
}
<script type="text/javascript">
    function verResultados(parameters) {
        var url = '@Url.Action("Productos", "Home")';
        window.location.href = url + "?producto=" + parameters;
    }
</script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    GRUPO ATC
    <small>DON JACINTO</small>
</h1>
<!-- END PAGE TITLE-->
<div class="container-fluid">
    <!--  INICIO FORMULARIO DE BUSQUEDA -->
    <div class="row">
        <div class="col-md-12" style="background-color:#2d5f8b ;background-size: cover; background-position: center;">
           
            <div class="row">
                <form asp-controller="Home" asp-action="Productos" method="get">
                    <div class="col-md-offset-2 col-md-8  col-sm-12 ">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs nav-justified ">
                                <li class="active">
                                    <a href="#tab_15_1" data-toggle="tab">  <h3 class="text-center font-white">Busca en Grupo ATC</h3> </a>
                                </li>
                                <li>
                                    <a href="#tab_15_2" data-toggle="tab">  <h3 class="text-center font-white">Busca por Modelo</h3> </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_15_1">
                                    <div class="row">
                                        <div class="col-lg-12 col-lg-offset-0  col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"  >
                                            <!---->
                                            <div class="input-group">
                                                <input type="text" class="form-control campo-search " ng-blur="focofuera()" ng-focus="entrafoco()" placeholder="Buscar producto" value="" id="busqueda_producto" tabindex="1" autocomplete="off" ng-change="cambiobusqueda()" ng-model="cadena" name="producto">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default boton-buscar" type="submit" id="btn_buscar" tabindex="2">
                                                        <i class="glyphicon glyphicon-search"></i>
                                                    </button>
                                                </span>        
                                                
                                            </div>

                                            <div class="desplegable" style="display:none" id="desplegable" ng-hide="!mostrardesplegable">
                                                <table class="tablaresultados">
                                                    <tbody>
                                                        <tr ng-if="!loading" class="" ng-repeat="resultado in resultadobusqueda">
                                                            <td class="">
                                                                <a class="resul-search" href="/Home/Articulo/{{resultado.idArticulo}}">
                                                                    {{resultado.descripcion}}
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr class="otrainfo" ng-if="loading">
                                                            <td class="">
                                                                <a>
                                                                    <img class="img-fluid" src="~/img/cargando.gif" />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr ng-show="resultadobusqueda.length<1" class="otrainfo">
                                                            <td>
                                                                <a>
                                                                    No hay resultados que mostrar
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="!loading" class="otrainfo">
                                                            <td ng-if="resultadobusqueda.length<NumReg">
                                                                <a ng-click="verResultados()">
                                                                    Mostrando {{resultadobusqueda.length}} de {{NumReg}} articulos, pulsa aqui para ver más.
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr class="otrainfo">
                                                            <td ng-if="resultadobusqueda.length==NumReg&&resultadobusqueda.length>0">
                                                                <a  ng-click="verResultados()">
                                                                    Mostrando {{resultadobusqueda.length}} de {{NumReg}} articulos.
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                        
                                </div>
                                <div class="tab-pane" id="tab_15_2">
                                    <div class="row" style="background-color:rgba(255, 255, 255, 0.8);">
                                        <div class="col-lg-12 text-center titulo-search ">
                                            <h4 class="font-dark"><span style="text-shadow: -1px 0px 0px rgba(255, 255, 255, 0.40);">Selecciona el tipo de vehículo</span></h4>
                                        </div>
                                        @foreach (TipoVehiculo vehiculo in vh)
    {
                                    <div class="col-md-3 text-center m-t btn-vehiculo">
                                        <a class="texto-prod" asp-controller="Home" asp-action="Buscador" asp-route-vehiculo="@vehiculo.IDTipoVehiculo">
                                            <img class="img-fluid" src="@vehiculo.url" style="width:50px" onerror="this.src='../img/spinner.gif'" />
                                            <p class="texto-prod"><small class="d-block">@vehiculo.Descripcion</small></p>
                                        </a>
                                    </div>

}
                                        <div class="col-md-3 text-center m-t btn-vehiculo">
                                            <a class="texto-prod" asp-controller="Home" asp-action="Buscador" asp-route-vehiculo="0">
                                                <img class="img-fluid" src="~/img/nodisponible.png" style="width:50px" />
                                                <p class="texto-prod"><small class="d-block">Todos los vehículos</small></p>
                                            </a>
                                        </div>


                                        <!--ESTE ULTIMO ICONO DE OTROS NECESITA STILOS PROPIOS-->
                                        <!--<div class="col-md-3 text-center m-t btn-vehiculo">
        <a class="texto-prod" href="">
            <i class="flaticon-busqueda ico-prod" style="font-size:44px;"></i>
            <p class="texto-prod" style="margin-top:3px;"><small class="d-block">Otros</small></p>
        </a>
    </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>


                       
                        
                    </div>
                    <div class="col-md-offset-3 col-md-6 ">
                        <div class="form-body">
                            <!--<div class="form-group form-md-line-input">
                                <button type="submit" class="btn blue-madison btn-block">
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Buscarr</font></font>
                                </button>
                                <input class="btn blue-madison btn-block" type="submit" value="Buscar" />
                            </div>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  /INICIO FORMULARIO DE BUSQUEDA -->
    <!-- INICIO CONTENIDO GENERICO HOME -->
    <div class="row">
        <div class="col-md-12">
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bubble font-dark hide"></i>
                        <span class="caption-subject bold font-dark uppercase">Pedido Express</span>
                        <span class="caption-helper">añadir al pedido en un sólo click</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-4">
                            <!--begin: widget 1-1 -->
                            <div class="mt-widget-1">
                                <div class="mt-icon">
                                    <a href="#">
                                        <i class="icon-plus"></i>
                                    </a>
                                </div>
                                <div class="mt-img">
                                    <img class="img-responsive" src="../images/activador.jpg">
                                </div>
                                <div class="mt-body">
                                    <h3 class="mt-username">Activador en Aerosol</h3>
                                    <p class="mt-user-title"> 150 ml para Adhesivos Estructurales.. </p>
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn ">
                                                <!--<i class="fa fa-star"></i>-->  Más info
                                            </a>
                                            <a href="javascript:;" class="btn font-green">
                                                <i class="icon-plus "></i> Añadir
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: widget 1-1 -->
                        </div>
                        <div class="col-md-4">
                            <!--begin: widget 1-1 -->
                            <div class="mt-widget-1">
                                <div class="mt-icon">
                                    <a href="#">
                                        <i class="icon-plus"></i>
                                    </a>
                                </div>
                                <div class="mt-img">
                                    <img class="img-responsive" src="../images/reparadora.jpg">
                                </div>
                                <div class="mt-body">
                                    <h3 class="mt-username">Resina</h3>
                                    <p class="mt-user-title"> 5ml resina de reparación.. </p>
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn ">
                                                <!--<i class="fa fa-star"></i>-->  Más info
                                            </a>
                                            <a href="javascript:;" class="btn font-green">
                                                <i class="icon-plus "></i> Añadir
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: widget 1-1 -->
                        </div>
                        <div class="col-md-4">
                            <!--begin: widget 1-1 -->
                            <div class="mt-widget-1">
                                <div class="mt-icon">
                                    <a href="#">
                                        <i class="icon-plus"></i>
                                    </a>
                                </div>
                                <div class="mt-img">
                                    <img class="img-responsive" src="../images/loctite.jpg">
                                </div>
                                <div class="mt-body">
                                    <h3 class="mt-username">Pegamento Loctite</h3>
                                    <p class="mt-user-title"> 326 para soportes ... </p>
                                    <div class="mt-stats">
                                        <div class="btn-group btn-group btn-group-justified">
                                            <a href="javascript:;" class="btn ">
                                                <!--<i class="fa fa-star"></i>-->  Más info
                                            </a>
                                            <a href="javascript:;" class="btn font-green">
                                                <i class="icon-plus "></i> Añadir
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: widget 1-1 -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-microphone font-dark hide"></i>
                        <span class="caption-subject bold font-dark uppercase">ÚLTIMOS PEDIDOS </span>
                        <span class="caption-helper">estado ultimos pedidos</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> Nº Pedido </th>
                                    <th> Fecha </th>
                                    <th> Total </th>
                                    <th> Estado </th>
                                    <th>  </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 2018ATC02 </td>
                                    <td> 03-01-2018 </td>
                                    <td> 800.00€ </td>
                                    <td> <span class="label label-sm label-warning"> Pendiente </span> </td>
                                    <td> <a href="" class="btn btn-sm btn-default"><i class="fa fa-search"></i> Ver pedido</a> </td>
                                </tr>
                                <tr>
                                    <td> 2018ATC02 </td>
                                    <td> 03-01-2018 </td>
                                    <td> 800.00€ </td>
                                    <td> <span class="label label-sm label-warning"> Pendiente </span> </td>
                                    <td> <a href="" class="btn btn-sm btn-default"><i class="fa fa-search"></i> Ver pedido</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-exclamation font-blue-chambray"></i>
                    <span class="caption-subject font-blue-chambray bold uppercase">novedades</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <!-- carousel -->

                    <div class="col-md-12">
                        <div class="carousel carousel-showmanymoveone slide" id="carousel123">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                        <a href="#"><img src="assets/layouts/layout/img/moldura.jpg" class="img-responsive"></a>
                                        <small>Moldura BMW</small>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                        <a href="#"><img src="assets/layouts/layout/img/parabrisas.jpg" class="img-responsive"></a>
                                        <small>Parabrisas Alfa Romeo</small>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                        <a href="#"><img src="assets/layouts/layout/img/moldura.jpg" class="img-responsive"></a>
                                        <small>Moldura BMW</small>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                        <a href="#"><img src="assets/layouts/layout/img/moldura.jpg" class="img-responsive"></a>
                                        <small>Moldura BMW</small>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                        <a href="#"><img src="assets/layouts/layout/img/moldura.jpg" class="img-responsive"></a>
                                        <small>Moldura BMW</small>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                        <a href="#"><img src="assets/layouts/layout/img/moldura.jpg" class="img-responsive"></a>
                                        <small>Moldura BMW</small>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                        <a href="#"><img src="assets/layouts/layout/img/moldura.jpg" class="img-responsive"></a>
                                        <small>Moldura BMW</small>
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                        <a href="#"><img src="assets/layouts/layout/img/moldura.jpg" class="img-responsive"></a>
                                        <small>Moldura BMW</small>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel123" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                            <a class="right carousel-control" href="#carousel123" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </div>
                    </div>

                    <!-- fin carousel -->
                </div>
            </div>
        </div>
    </div>
    <!-- /INICIO CONTENIDO GENERICO HOME -->